<!-- Header -->
<div class="header-container">
  <h1 class="header-title">Song Checker</h1>
</div>

<!-- Form -->
<form [formGroup]="form" class="form">
  <mat-form-field class="link-input">
    <mat-label>Spotify link</mat-label>
    <input matInput formControlName="track" (keyup.enter)="getTrack()" />
  </mat-form-field>
  <button
    type="button"
    mat-raised-button
    color="primary"
    class="search-btn"
    (click)="getTrack()"
  >
    Search
  </button>
</form>

<!-- Results -->
<div *ngIf="displayResults" class="results-container">
  <img [src]="albumCoverUrl" />
  <h2 class="track-name">{{ trackName }}</h2>
  <span>{{ artistNames }}</span>

  <h1 class="playlist-name">Music League:</h1>
  <span>{{ musicLeagueResults }}</span>

  <h1 class="playlist-name">SOTD 2023:</h1>
  <span>{{ sotd2023Results }}</span>
</div>
