<!-- Header -->
<div class="header-container">
  <h1 class="header-title">Song Checker</h1>
</div>

<!-- Form -->
<form [formGroup]="form" class="form">
  <mat-form-field class="link-input">
    <mat-label>Spotify link</mat-label>
    <input matInput formControlName="track" />
  </mat-form-field>
  <button
    type="button"
    mat-raised-button
    color="primary"
    class="search-btn"
    (click)="getTrack()"
  >
    Search
  </button>
</form>

<!-- Results -->
<div *ngIf="displayResults">
  <img [src]="albumCoverUrl" />
  <h3>{{ trackName }}</h3>
  <h3>{{ artistNames }}</h3>

  <h1>Music League:</h1>
  <h3>{{ musicLeagueResults }}</h3>

  <h1>SOTD 2023:</h1>
  <h3>{{ sotd2023Results }}</h3>
</div>
